graft src
graft tests
include *
global-exclude *.pyc
include pyproject.toml
recursive-exclude news *
exclude .coverage
exclude coverage.xml
exclude constraints-mxdev.txt
exclude requirements-mxdev.txt
exclude pyvenv.cfg
recursive-exclude frontend *
recursive-exclude .vscode *
recursive-exclude docs/_build *
graft docs
